h1{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 60px;
}
.button{
    display: flex;
    width: 200px;
    height: 200px;
    font-size: 150px;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: 13s;
    border-radius: 100px;
    background-color: red;

}
p{
    font-size: 30px;
    font-family: sans-serif;
    
}
@media (max-width: 400px) {
    
    
    h1 {
      font-size: 38px; 
    }
    .button{
        /* Centraliza horizontalmente o botão em telas pequenas */
        margin-left: auto;
        margin-right: auto;
        
        /* Você pode querer que a largura ocupe mais espaço na tela pequena */
        
    }
    p{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
    }
  }



