h1{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 60px;
}
.button{
    display: flex;
    width: 200px;
    height: 200px;
    font-size: 150px;
    margin-left: 369px;
    transition: 15s;
    border-radius: 100px;
    background-color: red;

}
p{
    font-size: 30px;
    font-family: sans-serif;
    
}


